.homepage, .albumpage{
    width: 90%;
    height: 832px;
}
.curated{
    width: 676px;
    height: 350px;
    padding: 10px;
    border-radius: 40px;
    background-image: url(/bg-img.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #609EAF;
    display: flex;
    align-items: center;
}
.playlist-info{
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 40px;
}
.playlist-info .title{
    color: #FFFfff;
font-family: Quicksand;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 15px;
}
.playlist-name h2{
    color: #ffffff;
font-family: Quicksand;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 42px;
}
.playlist-name p{
    color: #ffffff;
font-family: Quicksand;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
}
.playlist-likes{
    display: flex;
    gap: 10px;
}
.playlist-likes button{
    background: transparent;
}
.playlist-likes p{
    color: #ffffff;
font-family: Quicksand;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
}
.topcharts{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.topcharts h2{
    color:  #EFEEE0;
font-family: Quicksand;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
}
.chartsmusic{
    width: 417px;
    border-radius: 20px;
    background: #1A1E1F;
    height: 96px;
    display: flex;
    align-items: center;
    gap: 120px;
    padding: 0 0 0 20px;
}
.track{
    display: flex;
    height: inherit;
    align-items: center;
    gap: 20px;
}
.chartsmusic .song-title{
    color: #ffffff;
font-family: Quicksand;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px;
width: 150px;
}
.chartsmusic .artist{
    color:#ffffff;
font-family: Quicksand;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height:  14.4px;
}
.chartsmusic .duration{
    color:#ffffff;
font-family: Quicksand;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px
}
.chartsmusic button{
    background: transparent;
    border: 1px solid #ffffff;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}
.scroll{
    height: 226px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    width: 95%;
    overflow-y: scroll;
    margin-left: 11%;
}
.new-releases, .popular{
    height: 216px;
}
.new-releases img, .popular img{
    width: 153px;
height: 153px;
border-radius: 25px;
}
.new-releases h2, .popular h2{
font-family: Quicksand;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 29px;
color: #ffffff;
margin-bottom: 10px;
}
.track img{
    height: 63px;
    width: 63px;
}
.albumcards-carousel{
    width: 95%;
    gap:15px;
    overflow: scroll;
    display: flex; 
}
.albumcards-carousel::-webkit-scrollbar, .scroll::-webkit-scrollbar{
    display: none;
}
.albumcard{
display: flex;
align-items: center;
flex-direction: column;
 gap: 5px;
width: 153px;
height: 193px;
}
.albumcard p{
color: #ffffff;
font-family: Quicksand;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
}

/* mobile view */
@media screen and (max-width:430px){
  

   .artist-img{
    display: none;
   }
   .curated{
    width: 100%;
height: 503px;
flex-direction: row;
border-radius: 20px;
padding: 0;
background-image: none;
margin-bottom: 40px;
   }
   .playlist-info{
    justify-content: center;
    margin-left: 20px;
    gap: 100px;
   }
   .playlist-name{
    margin-top: 50px;
    width: 87%;
   }
   .playlist-likes{
    width: 90%;
    gap: 15px;
   }
   .topcharts{
    width: 100%;
   }
   .tc{
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
   }
   .tc::-webkit-scrollbar{
    display: none;
   }
   .chartsmusic{
    width: 100%;
    height: 233px;
    align-items: normal;
    gap: 160px;
    padding: 18px;
   }
   .track{
    flex-direction: column;
    gap: 20px;
   }
   .track img{
    width: 108px;
height: 99px;
   }
   .chartsmusic .song-title{
    width: max-content;
    margin-bottom: 10px;
   }
   .chartsmusic .artist{
    margin-bottom: 20px;
   }

   .new-releases img, .popular img{
    width: 153px;
    height: 193px;
   }
   .albumcards-carousel{
    width: 100%;
   }
   .info .song-title{
    width: max-content;
   }
   .info{
    margin-bottom: 20px;
   }
}